<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162402967412-m57n9oqqorvjd0mjvqnulriop8qb530h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162402967412-m57n9oqqorvjd0mjvqnulriop8qb530h</string>
	<key>API_KEY</key>
	<string>AIzaSyCqajmDijeLFSf-BSjfz0Irkrlx-TmIENY</string>
	<key>GCM_SENDER_ID</key>
	<string>162402967412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5play-apps.PUZL-Boy</string>
	<key>PROJECT_ID</key>
	<string>puzl-boy</string>
	<key>STORAGE_BUCKET</key>
	<string>puzl-boy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:162402967412:ios:4168137c4479a05f10d621</string>
	<key>DATABASE_URL</key>
	<string>https://puzl-boy-default-rtdb.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9970112736079022~3898881122</string>
</dict>
</plist>
